table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #c7c7c7;
  text-align: left;
  padding: 8px;
  width: 30%;
}

th {
  border: 1px solid #c7c7c7;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #dddddd;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  padding: 4px;
  width: 375px;
}

details[open] {
  padding: 0.5em;
  width: 750px;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
  width: 750px;
}
